%h1 Search Explanations

= simple_form_for :search, url: :search_results, method: :get do |f|
  = f.input :title, required: false
  = f.input :authors, required: false
  = f.input :topics, required: false, url: autocomplete_topic_name_topics_path, as: :autocomplete, |
    'data-delimiter' => ', ', input_html: { class: "text optional form-control" }
  = f.input :search_type, as: :hidden, input_html: { value: "explanation" }
  = f.button :submit, "Search"