%strong
  = link_to problem.description_maybe_empty, problem
%br/
%br/

= render '/problems/source', problem: problem
- if !problem.author.nil? and problem.author != ''
  %strong Author:
  = problem.author
  %br/
= render 'topicables/topic_list', topicable: problem
= render 'votables/ratings', { votable: problem, scope: 'difficulty', lower: 1, upper: 8, rating_meanings: difficulty_rating_meanings }
= render 'votables/ratings', { votable: problem, scope: 'elegance', lower: -2, upper: 2, rating_meanings: elegance_rating_meanings }

%br/
%br/

= raw(RichText.new(text: problem.body).to_html)
%br/
%br/