%h1 Search Problems

= simple_form_for :search, url: :search_results, method: :get do |f|
  = f.input :topics, required: false, url: autocomplete_topic_name_topics_path, as: :autocomplete, |
    'data-delimiter' => ', ', input_html: { class: "text optional form-control" }
  = f.input :source, required: false
  = f.input :keywords, required: false
  .form-inline
    = f.input :min_difficulty, collection: 1..8, required: false, selected: 1
    = f.input :max_difficulty, collection: 1..8, required: false, selected: 8
    = f.input :include_unrated_difficulties, label: "Include problems with unrated difficulty", as: :boolean, input_html: {checked: true}, required: false
  .form-inline
    = f.input :min_elegance, collection: -2..2, required: false, selected: -2
    = f.input :max_elegance, collection: -2..2, required: false, selected: 2
    = f.input :include_unrated_elegances, label: "Include problems with unrated elegance", as: :boolean, input_html: {checked: true}, required: false
  - if user_signed_in?
    %br/
    .form-inline
      = f.input :currently_working_on, as: :boolean, required: false
      = f.input :solved_by_me, as: :boolean, required: false
      = f.input :favorited_by_me, as: :boolean, required: false
  = f.input :search_type, as: :hidden, input_html: { value: "problem" }
  %br/
  = f.button :submit, "Search"