%h1 Search Problems

= simple_form_for :search, url: :search_results, method: :get do |f|
  = f.input :topics, required: false, url: autocomplete_topic_name_topics_path, as: :autocomplete, |
    'data-delimiter' => ', ', input_html: { class: "text optional form-control" }
  = f.input :keywords, required: false
  = f.input "Sort by:", required: false do 
    %br/
    = f.select :sort_by, [['Best match','best_match'],['Niceness','niceness'],['Instructiveness','instructiveness']]
  = f.input :search_type, as: :hidden, input_html: { value: "problem" }
  = f.button :submit, "Search"