= form_for :search, url: :search_results, method: :get do |f|
  = f.label :name
  %br/
  = f.autocomplete_field :name, autocomplete_topic_name_topics_path
  %br/
  %br/
  = f.hidden_field :search_type, value: "topic"
  = f.submit "Search"