= form_for @topic do |f|
  = f.label :name
  %br/
  = f.text_field :name
  %br/
  %br/
  = f.label :parents
  %br/
  = f.autocomplete_field :parents, autocomplete_topic_name_topics_path, 'data-delimiter' => ', ', value: Topic.topics_array_to_topics_string(@topic.parents)
  %br/
  %br/
  = f.submit