= form_for :topic, url: topics_path do |f|
    = f.label :name
    %br/
    = f.text_field :name
    %br/
    %br/
    = f.label :parents
    %br/
    = f.text_field :parents
    %br/
    %br/
    = f.label :children
    %br/
    = f.text_field :children
    %br/
    %br/
    = f.submit