%h1 Edit Topic

= form_for :topic, url: topics_path do |f|
    = f.label :name
    %br/
    = f.text_field :name
    %br/
    %br/
    = f.label 'Parent(s)'
    %br/
    = f.text_field :parents
    %br/
    %br/
    = f.label :children
    %br/
    = f.text_field  :children
    %br/
    %br/
    = f.submit

- ##::TODO:: how to get it to display parents and children in text field?