%h1= @topic.name

= render 'shared/topic_list', name: 'Parent'  , topics: @topic.parents
%br/
= render 'shared/topic_list', name: 'Subtopic', topics: @topic.children
%br/

%br/

.btn-group{role: "group"}
  %button 
  = button_to('Edit', { action: "edit" }, { class: "btn btn-default", method: 'get' }) 
  = button_to('Destroy', {}, { class: "btn btn-default", method: 'delete' })

%br/
%br/

/ = #link_to 'Add explanation', new_explanation_path(topic: @topic.id)

/ - #@topic.explanations.each do |explanation|
/  = #render partial: 'explanation', object: explanation