%h1= @topic.name

- # Parents 
= render 'topicables/topic_list', topicable: @topic
= render 'shared/topic_list', topics: @topic.children, name: "Children"
%br/
= link_to '(Add child topic)', new_topic_path(parent_id: @topic.id)
%br/
%br/

.btn-group
  = link_to('Edit', { action: "edit" }, { class: "btn btn-default", method: 'get' }) 
  = link_to('Destroy', {}, { class: "btn btn-default", method: 'delete' })

%br/
%br/
%br/

%ul{class: "nav nav-tabs", id: "myTab"}
  %li{class: "active"}
    %a{href: "#problems", data: {toggle: "tab"}}Problems
  %li
    %a{href: "#explanations", data: {toggle: "tab"}}Explanations

.tab-content
  #problems{class: "tab-pane fade in active"}
    - results = @topic.problems | @topic.solutions.map(&:problem).uniq
    - if results.size > 0
      %br/
      %em 
        Problems classified under this topic, or with solutions classified under this topic. 
      %br/
      = render 'search/search_results', results: results, empty_message: ""
    - else 
      There are currently no problems classified under this topic, and no problems with solutions classified under this topic.
  #explanations{class: "tab-pane fade"}
    = render 'search/search_results', results: @topic.explanations, empty_message: "There are currently no explanations classified under this topic."

/ = #link_to 'Add explanation', new_explanation_path(topic: @topic.id)

/ - #@topic.explanations.each do |explanation|
/  = #render partial: 'explanation', object: explanation
