%h1= @topic.name

- # Parents 
= render 'topicables/topic_list', topicable: @topic
= render 'shared/topic_list', topics: @topic.children, name: "Children"
= link_to '(Add child)', new_topic_path(parent_id: @topic.id)
%br/
%br/

.btn-group
  = link_to('Edit', { action: "edit" }, { class: "btn btn-default", method: 'get' }) 
  = link_to('Destroy', {}, { class: "btn btn-default", method: 'delete' })

%br/
%br/
%br/

%ul{class: "nav nav-tabs", id: "myTab"}
  %li{class: "active"}
    %a{href: "#problems", data: {toggle: "tab"}}Problems
  %li
    %a{href: "#solutions", data: {toggle: "tab"}}
      Problems with solutions under 
      = "#{@topic.name}"
  %li
    %a{href: "#explanations", data: {toggle: "tab"}}Explanations

.tab-content
  #problems{class: "tab-pane fade in active"}
    = render 'search/search_results', results: @topic.problems, empty_message: "There are currently no problems classified under this topic."
  #solutions{class: "tab-pane fade"}
    = render 'search/search_results', results: @topic.solutions.map(&:problem).uniq, empty_message: "There are currently no problems with solutions classified under this topic."
  #explanations{class: "tab-pane fade"}
    = render 'search/search_results', results: @topic.explanations, empty_message: "There are currently no explanations classified under this topic."

/ = #link_to 'Add explanation', new_explanation_path(topic: @topic.id)

/ - #@topic.explanations.each do |explanation|
/  = #render partial: 'explanation', object: explanation
