%h1= @topic.name

= render 'shared/topic_list', name: 'Parent',   topics: @topic.parents
%br/
= render 'shared/topic_list', name: 'Subtopic', topics: @topic.children
%br/

%br/
= link_to 'Edit', edit_topic_path
|
= link_to 'Destroy', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/
= link_to 'Add explanation', new_explanation_path

- @topic.explanations.each do |explanation|
  = render partial: 'explanation', object: explanation