= simple_form_for @problem do |f|
  = f.input :description, as: :string
  = f.input :body, input_html: { rows: long_entry_row_num }
  = f.input :topics_string, label: 'Topic(s)', url: autocomplete_topic_name_topics_path, as: :autocomplete,    'data-delimiter' => ', ', input_html: { class: "text optional form-control" }
  = f.input :author, as: :string
  - if @problem.problem_set.nil?
    = f.input :source, as: :string
  = f.button :submit
  = #f.button :submit, 'Preview', name: :preview, onclick: "preview('problem_body');"

%button{type: 'button', class: "btn btn-default", onclick: "preview('problem_body', 'problem_description');"} Preview

%br/
%br/

#preview
  