= form_for @problem do |f|
  = f.label :source
  %br/
  = f.text_field :source
  %br/
  %br/
  = f.label :author
  %br/
  = f.text_field :author
  %br/
  %br/
  = f.label :body
  %br/
  = f.text_area :body
  %br/
  %br/
  = f.submit