- if solution.hints.size > 0
  %strong 
    %u
      %a{href:"javascript:;", style: 'color:#000000;', class: 'show_hint', data: {id: "#{solution.id}"}}> Show hint

  - for i in 0...solution.hints.size
    .hint{style: "display:none", class: "hint", data: {id: "#{i}"}}
      %strong 
        = "Hint #{i+1}:"
      = raw(RichText.new(text: solution.hints[i]).to_html)
  %br/

%strong
  %u
    %a{href:"javascript:;", style: 'color:#000000;', class: "show_solution"}> Show solution
.solution{id: "solution#{solution.id}", style: "display:none"}
  %br/
  = raw(RichText.new(text: solution.body).to_html)
  %br/
  %br/
  %div
    %div{style: "float:right;"}
      - if solution.author == current_user
        = link_to '(Edit)', edit_problem_solution_path(solution.problem, solution)
    %div
      = render 'topicables/topic_list', topicable: solution
  %br/
  = render 'comments/comments', commentable: solution
%br/
%br/
%em
  = "Solution submitted by "
  = link_to solution.author.username, solution.author

= render 'votables/votes', { votable: solution, disp_text: "" }