.list-group-item
  - if solution.hints.size > 0
    %strong 
      %u
        / %span> is to get rid of the space that would've otherwise been at the end of 'hint'
        %span>= link_to 'Show hint', 'javascript:;', { style: 'color:#000000;', id: "hint_button#{solution.id}" }

    - for i in 0...solution.hints.size
      .hint{id: "hint_#{solution.id}_#{i}", style: "display:none"}
        %strong 
          = "Hint #{i+1}:"
        = raw(solution.hints[i].bbcode_to_html.gsub("\n", "<br/>"))
        %br/
    %br/

  %strong
    %u
      %span>= link_to 'Show solution', 'javascript:;', { style: 'color:#000000;', id: "solution_button#{solution.id}" } 

  %br/
  .solution{id: "solution#{solution.id}", style: "display:none"}
    = raw(solution.body.bbcode_to_html.gsub("\n", "<br/>"))
    %br/
    %br/
    %em
      = link_to "View comments", comments_problem_solution_path(@problem, solution) 
    %br/
    %br/
    = render 'categorizables/topic_list', categorizable: solution
    = render 'votables/votes'  , { votable: solution, scope: 'quality', disp_text: 'Writeup quality' }
    = render 'votables/ratings', { votable: solution, scope: 'elegance', lower: -2, upper: 2 }
    = render 'votables/ratings', { votable: solution, scope: 'instructiveness', lower: 0, upper: 2 }
    = render 'votables/ratings', { votable: solution, scope: 'difficulty', lower: -2, upper: 2, show_average: false }

    - if solution.author == current_user
      %br/
      %br/
      .btn-group
        = link_to "Edit solution", edit_problem_solution_path(@problem, solution), { class: "btn btn-default" }
        = link_to('Destroy solution', problem_solution_path(@problem, solution), { class: "btn btn-default", method: 'delete' })
    
  %br/
  %em 
    = "Solution submitted by #{solution.author}"