:javascript
  function toggleVisibility(id)
  {
    if (document.getElementById(id).style.display == "none")
      document.getElementById(id).style.display = "block";
    else
      document.getElementById(id).style.display = "none"; 
  }

%strong Source:
= @problem.source
%br/

%strong Author:
= @problem.author
%br/

- if user_signed_in?
  = link_to 'Edit', edit_problem_path(@problem)
  | 
  = link_to 'Destroy', problem_path(@problem), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/

= raw(@problem.body.bbcode_to_html.gsub("\n", "<br/>"))

%h2 Solutions

.row.list-group 
  - @problem.solutions.each do |solution|
    = render partial: 'solution', object: solution

= link_to 'Add solution', new_problem_solution_path(@problem)