%h3
  = best_in_place_if user_signed_in?, @problem, :description, as: :input, display_as: :show_description

= render 'sources', problem: @problem
%br/

= render 'categorizables/topic_list', categorizable: @problem
%br/

- if not @problem.author.nil? and @problem.author != ''
  %strong Author:
  = @problem.author
  %br/
%br/
= raw(@problem.body.bbcode_to_html.gsub("\n", "<br/>"))

%br/
%br/

- if user_signed_in?
  %br/
  %br/
  .btn-group
    = link_to 'Edit', edit_problem_path(@problem), { class: "btn btn-default" }
    = link_to 'Destroy', problem_path(@problem), { class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } }
  
  %br/
  %br/

  %span>= link_to 'Repeated problem?', 'javascript:;', {id: "merge_button_#{@problem.id}" } 
  = render 'merge'
%br/
%br/

%h3 Solutions

- if @problem.solutions.size > 0
  .row.list-group 
    - @problem.solutions.sort_by(&:id).each do |solution| ##::TODO_LATER:: find a better problem sort. 
      = render partial: 'solution', object: solution
- else
  %em No solutions have been contributed yet for this problem.
  %br/
  %br/

- if user_signed_in?
  = link_to 'Add solution', new_problem_solution_path(@problem), { class: "btn btn-default" }