:javascript
  function makeVisible(id)
  {
     document.getElementById(id).style.display = "inline";
  }

  var latest_hint_shown = [];
  function show_next_hint(solution_id)
  {
    if (typeof(latest_hint_shown[solution_id]) == 'undefined')
      latest_hint_shown[solution_id] = 0; 

    $("#hint_" + solution_id + "_" + latest_hint_shown[solution_id])[0].style.display = "inline";
    $("#hint_button" + solution_id).html('Show next hint');
    ++latest_hint_shown[solution_id];

    if (typeof($("#hint_" + solution_id + "_" + latest_hint_shown[solution_id])[0]) == 'undefined')
      $("#hint_button" + solution_id)[0].remove(); 
  }

%h3
  = @problem.description

%strong Source:
= @problem.source
%br/

%strong Author:
= @problem.author
%br/
%br/
= raw(@problem.body.bbcode_to_html.gsub("\n", "<br/>"))

%br/
%br/

- if user_signed_in?
  %br/
  %br/
  .btn-group
    = link_to 'Edit', edit_problem_path(@problem), { class: "btn btn-default" }
    = link_to 'Destroy', problem_path(@problem), { class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } }
%br/
%br/

%h3 Solutions

- if @problem.solutions.size > 0
  .row.list-group 
    - @problem.solutions.each do |solution|
      = render partial: 'solution', object: solution
- else
  %em No solutions have been contributed yet for this problem.
  %br/
  %br/

- if user_signed_in?
  = link_to 'Add solution', new_problem_solution_path(@problem), { class: "btn btn-default" }
