:javascript
  function toggleVisibility(id)
  {
    if (document.getElementById(id).style.display == "none")
      document.getElementById(id).style.display = "inline";
    else
      document.getElementById(id).style.display = "none"; 
  }

  var latest_hint_shown = [];
  function show_next_hint(solution_id)
  {
    if (typeof(latest_hint_shown[solution_id]) == 'undefined')
      latest_hint_shown[solution_id] = 0; 

    document.getElementById("hint_" + solution_id + "_" + latest_hint_shown[solution_id]).style.display = "inline";
    ++latest_hint_shown[solution_id];
  }

%strong Source:
= @problem.source
%br/

%strong Author:
= @problem.author
%br/

- if user_signed_in?
  = link_to 'Edit', edit_problem_path(@problem)
  | 
  = link_to 'Destroy', problem_path(@problem), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/

= raw(@problem.body.bbcode_to_html.gsub("\n", "<br/>"))

%h2 Solutions

.row.list-group 
  - @problem.solutions.each do |solution|
    = render partial: 'solution', object: solution

= link_to 'Add solution', new_problem_solution_path(@problem)