= simple_form_for @explanation do |f|
  = f.input :title
  = f.input :description
  = f.input :topics_string, label: 'Topics', url: autocomplete_topic_name_topics_path, as: :autocomplete, |
    'data-delimiter' => ', ', input_html: { class: "text optional form-control" }
  = f.input :body_text, as: :text, input_html: { rows: long_entry_row_num }
  = f.button :submit

%button{type: 'button', class: "btn btn-default", onclick: "preview('explanation_body', 'explanation_title');"} Preview

#preview