= simple_form_for @explanation do |f|
  = f.input :title, as: :string
  = f.input :description
  = f.input :topics_string, label: 'Topics', url: autocomplete_topic_name_topics_path, as: :autocomplete, |
    'data-delimiter' => ', ', input_html: { class: "text optional form-control" }
  = f.simple_fields_for :body_attributes, @explanation.body do |b|
    = b.input :text, input_html: { rows: long_entry_row_num }
  = f.button :submit

%button{type: 'button', class: "btn btn-default", onclick: "preview('explanation_body_attributes_text', 'explanation_title');"} Preview

%br/
%br/

#preview