%h1= @explanation.title

= render 'categorizables/topic_list', categorizable: @explanation
%br/

%strong Description:
= @explanation.description
%br/

%strong Author: 
= #@explanation.user.email
%br/

= link_to 'Edit', edit_explanation_path(@explanation)

#dispvotes
  = render 'votes', { upvote_num: @explanation.get_upvotes.size, downvote_num: @explanation.get_downvotes.size }
%br/

- if current_user == @explanation.user
  = link_to 'Edit', edit_explanation_path(@explanation)
  | 
  = link_to 'Destroy', explanation_path(@explanation), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/

= raw(@explanation.body.bbcode_to_html.gsub("\n", "<br/>"))