%h1= @explanation.title

%strong Topic(s):
- @explanation.topics.each do |topic|
  = link_to topic.name, topic
%br/

%strong Description:
= @explanation.description
%br/

%strong Author: 
= #@explanation.user.email
%br/
#dispvotes
  = render 'votes'
%br/

- if current_user == @explanation.user
  = link_to 'Edit', edit_explanation_path(@explanation)
  | 
  = link_to 'Destroy', explanation_path(@explanation), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/

= raw(@explanation.body.bbcode_to_html.gsub("\n", "<br/>"))
