%h1= @explanation.title
%em 
  by 
  = render 'author_list', explanation: @explanation
%br/
%br/
%strong Description:
= @explanation.description
= render 'topicables/topic_list', topicable: @explanation
= render 'votables/votes', { votable: @explanation }
%br/

- if current_user == @explanation.user
  .btn-group
    = link_to('Edit', { action: "edit" }, { class: "btn btn-default", method: 'get' }) 
    = link_to('Destroy', {}, { class: "btn btn-default", method: 'delete' })
%br/
%br/

= raw(@explanation.body.to_html)