%h1= @explanation.title

= render 'categorizables/topic_list', categorizable: @explanation
%br/

%strong Description:
= @explanation.description
%br/

%strong Author: 
= #@explanation.user.email
%br/

= link_to 'Edit', edit_explanation_path(@explanation)

= render 'votables/votes', { votable: @explanation }
%br/

- if current_user == @explanation.user
  = link_to 'Edit', edit_explanation_path(@explanation)
  | 
  = link_to 'Destroy', explanation_path(@explanation), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/

= raw(@explanation.body.to_html)