%h1= @explanation.title

= @cur_vote

%strong Topic(s):
- @explanation.topics.each do |topic|
  = link_to topic.name, topic
%br/

%strong Description:
= @explanation.description
%br/

- if user_signed_in?
  = link_to 'Upvote'  , vote_explanation_path(@cur_vote)#, {cur_vote: @cur_vote, votable_id: @explanation.id, positive: true, user_id: current_user.id})
  |
  = link_to 'Downvote', vote_explanation_path({cur_vote: @cur_vote, votable_id: @explanation.id, positive: false, user_id: current_user.id})
- else
  = 'You must be signed in to vote.'
%br/
- @explanation.votes.each do |v|
  = v.positive?
%br/

= link_to 'Edit', edit_explanation_path(@explanation)
| 
= link_to 'Destroy', explanation_path(@explanation), method: :delete, data: { confirm: 'Are you sure?' }
%br/
%br/

= @explanation.body