<p>
	<strong>Topic(s): </strong>
	<% @explanation.topics.each do |topic| %>
		<%= link_to topic.name, topic %>
	<% end %>
	<br>

	<strong>Description: </strong>
	<%= @explanation.title %>
	<br>

	<strong>Source: </strong>
	<%= @explanation.description %>
	<br>

	<strong>Body: </strong>
	<%= @explanation.body %>
	<br>
</p>

<%= link_to 'Edit', edit_explanation_path(@explanation) %>