- topics = categorizable.specificest_topics
- if !(defined? name) || name.nil?
  - name = categorizable.class.topics_name.capitalize.to_s
- label = (name || "Topic").pluralize(topics.size) + ':'

.topic-list{ data: { class: "#{categorizable.class}", id: "#{categorizable.id}", name: name } }
  .links_list
    = render 'shared/topic_list', name: name, topics: topics
    - if user_signed_in?
      = link_to '', 'javascript:;', { class: "glyphicon glyphicon-edit" }

  .edit{style: "display:none"}
    = simple_form_for :categorizable, url: "javascript:;", html: { class: 'form-inline' } do |f|
      = f.input :__topics_string, required: false, label: label
      = f.button :submit, value: 'Update topics', class: 'categorizable-submit'