- if not defined? scope 
  - scope = nil

- if not defined? disp_text
  - disp_text = nil

- if not defined? show_average
  - show_average = true

.vote{id: "#{votable.class}_#{votable.id}_#{format_scope(scope)}_rate"}
  %strong
    - # if disp_text is supplied, use that. Otherwise use the name of scope. Otherwise go with "Rating".
    = (disp_text || scope || "Rating").capitalize + ':'

  - if user_signed_in?
    - # votable.get_upvotes(stuff) should be an array with either 1 or 0 elements
    - current_user_vote = votable.get_upvotes(vote_scope: scope, voter_id: current_user.id)[0]
    - current_user_vote = current_user_vote[:vote_weight] unless current_user_vote.nil?

    = surround '( ', ' )' do
      - for i in lower..upper
        - path = rate_path(rating: i, votable_id: votable.id, votable_type: votable.class, | 
          scope: scope, disp_text: disp_text, lower: lower, upper: upper, show_average: show_average)
        - text = (current_user_vote == i) ? raw("<strong>#{i}</strong>") : i
        = link_to text, path, { method: :post, remote: true }

        - # Don't display a separator pipe if you're at the end
        - if i != upper
          | 


  = surround '( ', ' )' do
    - n = votable.get_upvotes(vote_scope: scope).size
    - if show_average && show_average != "false"
      = votable.get_upvotes(vote_scope: scope).sum(:vote_weight).to_f / n
      avg, 
    = n
    = "rating".pluralize(n) + " total"