- if not defined? scope 
  - scope = nil

- if not defined? disp_text
  - disp_text = nil

.vote{id: "#{votable.class}_#{votable.id}_#{format_scope(scope)}_vote"}
  %strong
    - # if disp_text is supplied, use that. Otherwise use the name of scope. Otherwise go with "Rating".
    = (disp_text || scope || "Votes").capitalize + ':'
  = surround '( ', ' )' do 
    - if user_signed_in?
      = link_to "++", upvote_path(votable_id: votable.id, votable_type: votable.class, scope: scope, disp_text: disp_text), | 
      method: :post, remote: true
    - else
      ++
    = votable.get_upvotes(vote_scope: scope).size
    |
    - if user_signed_in?
      = link_to "--", downvote_path(votable_id: votable.id, votable_type: votable.class, scope: scope, disp_text: disp_text), |
      method: :post, remote: true
    - else
      = '--'
    = votable.get_downvotes(vote_scope: scope).size