= form_for @solution do |f|
  = f.label :topics
  %br/
  = f.autocomplete_field :topics, autocomplete_topic_name_topics_path, 'data-delimiter' => ', ', value: Topic.topics_array_to_topics_string(@solution.topics)
  %br/
  %br/
  = f.label :body
  %br/
  = f.text_area :body
  %br/
  %br/
  = f.hidden_field :problem_id, value: params[:problem_id]
  = f.submit