= form_for @solution do |f|
  = f.label :topics
  %br/
  = f.text_field :topics, value: Topic.topics_array_to_topics_string(@solution.topics)
  %br/
  %br/
  = f.label :body
  %br/
  = f.text_area :body
  %br/
  %br/
  = f.hidden_field :problem_id, value: params[:problem_id]
  = f.submit