<!DOCTYPE html>
<html>
<head>
  <title>Mathorg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


  <header class="navbar navbar-fixed-top navbar-inverse navbar-default" role="navigation">
    <div class="container-fluid">
        <%= link_to 'MathOrg', root_path, class: "navbar-brand" %>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search topics...">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
  </header>

  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'] ],
         processEscapes: true
       }
      });
  </script>
  <%= mathjax_tag %>
</head>

<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
