<!DOCTYPE html>
<html>
<head>
  <title>Math Olympiad Organization Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    function preview(body_id, title_id)
    {
      var body_text  = $("#" + body_id).val(); 
      if (typeof title_id !== 'undefined')
        var title_text = '[b]' + $("#" + title_id).val() + '[/b]\n\n'
      else
        var title_text = ''; 

      var preview_text = title_text + body_text; 
      
      $.post('/services/preview', {text: preview_text}, function(data) { $('#preview').html(data.preview_html); });
      
      //Without the delay, MathJax doesn't seem to recognize the new math 
      //that's appeared quickly enough. 
      setTimeout(function(){MathJax.Hub.Queue(["Typeset", MathJax.Hub, $('#preview')[0]])}, 500);
    }
  </script>

  <header class="navbar navbar-fixed-top navbar-inverse navbar-default" role="navigation">
    <div class="container-fluid">
        <%= link_to raw('MO<sup>2</sup>P'), root_path, class: "navbar-brand" %>


        <!-- <form class="navbar-form navbar-left" role="search" action="/search/results" method="get">
          <div class="form-group">
            <input class="form-control" placeholder="Search topics..." data-autocomplete="/topics/autocomplete_topic_name" id="search_name" name="search[name]" type="text" class="ui-autocomplete-input" autocomplete="off">
            <input id="search_search_type" name="search[search_type]" type="hidden" value="topic">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->

        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Problem Resources', problem_resources_path, :class => 'navbar-link' %></li>
          <li><%= link_to 'Problem Search', search_path, :class => 'navbar-link' %></li>
          <li><%= link_to 'Topic List', topics_path, :class => 'navbar-link' %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>
        </ul>
    </div>
  </header>

  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'] ],
         processEscapes: true
       }
      });
  </script>
  <%= mathjax_tag %>
</head>

<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
